.benefits {
    background-color: $secondary-bgc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits__title {
    width: 816px;
    margin-top: 73px;
    margin-right: auto;
    margin-left: auto;
}

.benefits__text {
    display: block;
    width: 586px;
    text-align: center;
    margin-top: 71px;
    margin-right: auto;
    margin-left: auto;

    &--left {
        text-align: left;
    }
}

.benefits__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // flex-wrap: wrap;
    margin-top: 62px;
    margin-bottom: 163px;
    gap: 87px;
    padding: 0 50px;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    gap: 35px;

    position: relative;
    text-align: left;
    width: 253px;
}

.location__icon {
    width: 60px;
    height: 60px;
}

.cup__icon {
    width: 72px;
    height: 60px;
}

.moto__icon {
    width: 122px;
    height: 60px;
}

.icon__helmet {
    width: 57px;
    height: 60px;
}
