.bike-Harley__title {
    width: 816px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 35px;

    @media screen and (max-width: $desktop) {
        width: 100%;
    }
}

.bike-Harley__text {
    margin: 0 auto;
    margin-top: 30px;
    width: 546px;

    @media screen and (max-width: $desktop) {
        width: 100%;
    }
}

.bike-Harley__image-wrapper {
    position: relative;
    display: block;

    margin: 0 auto;
}

.bike-Harley__image-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 570px;
    height: 570px;
    border-radius: 570px;
    background: #eb601d;
    filter: blur(100px);
    z-index: -1;

    @media screen and (max-width: $desktop) {
        width: 100%;
        height: 400px;
    }
}

.bike-Harley__image {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $desktop) {
    }
}
