.certificate {
    background-color: $secondary-bgc;
}

.certeficate__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    @media screen and (max-width: $mobile) {
        padding-bottom: 0;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        flex-direction: column;
        padding-bottom: 20px;
    }

    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
}

.cerrificate__content {
    width: 505px;
    margin-top: 196px;
    margin-bottom: 167px;

    @media screen and (max-width: $desktop) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 80%;
    }
}
.certificate__title {
    text-align: left;
    margin-bottom: 74px;

    @media screen and (max-width: $desktop) {
        text-align: center;
        margin-bottom: 40px;
    }
}
.certificate__text {
    text-align: left;
    @media screen and (max-width: $desktop) {
        text-align: center;
    }
}

.certificate__btn {
    margin-top: 50px;
}

.certificate__img-wrapper {
    width: 90%;
    // position: relative;
    @media screen and (max-width: $desktop) {
        position: relative;
    }
}

.certificate__image {
    position: absolute;
    top: -50px;
    right: 0;
    width: 1053px;
    height: 785px;

    @media screen and (min-width: 320px) and (max-width: $mobile) {
        width: 240px;
        height: 140px;
    }

    @media screen and (min-width: $mobile) and (max-width: $desktop) {
        width: 400px;
        height: 300px;
    }

    @media screen and (max-width: $tablet) {
        position: relative;
    }

    @media screen and (min-width: calc($tablet + 1px)) and (max-width: $desktop) {
        top: -200px;
        right: 0;
    }
}
