.form-application {
    background-image: url(../../images/harley-bg.webp);
    background-position: 50% 50%;
    background-size: cover;

    &--margin {
        margin-top: 150px;
        margin-bottom: 150px;

        @media screen and (max-width: $desktop) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: $desktop) {
        background: $secondary-bgc;
    }
}

@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .form-application {
        background-image: url("../../images/harley-bg@2x.webp");
    }
}

.form-application__title {
    margin-top: 87px;
    margin-bottom: 60px;
}

.form-application__text {
    width: 386px;
    margin: 0 auto;

    @media screen and (max-width: $tablet) {
        width: auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 62px;

    @media screen and (max-width: $tablet) {
        margin-top: 40px;
    }
}

.field-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 142px;

    @media screen and (max-width: $desktop) {
        flex-direction: column;
        gap: 20px;
    }
}

.field__input {
    width: 364px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #41454e;
    padding-left: 7px;
    padding-bottom: 11px;
    color: $accent-cl;

    &::placeholder {
        color: $primary-txt-cl;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.36px;
    }

    &:hover,
    &:focus {
        border: none;
        border-bottom: 1px solid $accent-cl;
        outline: none;
    }

    @media screen and (max-width: 320px) {
        width: 100%;
    }
}

.field-wrapper__btn {
    margin-top: 50px;
    margin-bottom: 63px;
    border: none;
}
