.header {
    width: 100%;
    padding: 100px 0 50px 0;

    @media screen and (max-width: $tablet) {
        padding: 50px 0 50px 0;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 0;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 108px;
    height: 48px;

    @media screen and (max-width: $mobile) {
        align-content: center;
        align-items: center;
        gap: 10px;
        width: 27px;
    }
}

.social__item {
    margin: 0;
    padding: 0;
}

.social__icon {
    fill: $primary-white-color;
    width: 22px;
    height: 22px;

    &:hover,
    &:focus {
        fill: $accent-cl;
    }

    @media screen and (max-width: $mobile) {
        width: 10px;
        height: 10px;
    }
}

.logo__icon {
    width: 445px;
    height: 115px;

    @media screen and (max-width: $mobile) {
        width: 112px;
        height: 29px;
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: 224px;
        height: 58px;
    }
}

.logo {
    position: relative;
}

.logo::after {
    content: "x";
    position: absolute;
    top: 45px;
    right: 258px;
    color: $secondary-txt-cl;

    @media screen and (max-width: $tablet) {
        display: none;
    }
}
