.header {
    width: 100%;
    padding: 100px 0 50px 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 0;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 108px;
    height: 48px;
}

.social__item {
    margin: 0;
    padding: 0;
}

.social__icon {
    fill: $primary-white-color;
    width: 22px;
    height: 22px;

    &:hover,
    &:focus {
        fill: $accent-cl;
    }
}

.logo__icon {
    width: 445px;
    height: 115px;
}

.logo {
    position: relative;
}

.logo::after {
    content: "x";
    position: absolute;
    top: 45px;
    right: 258px;
    color: $secondary-txt-cl;
}
