.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 137px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__upper-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    // width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 210px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -16.8px;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    opacity: 0.07999999821186066;
    color: transparent;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 88.02%);
    background-clip: text;
}

.hero__title {
    color: $primary-white-color;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    margin-top: 135px;
}

.hero__subtitle {
    color: $primary-white-color;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

.hero__text {
    width: 428px;
    height: 67px;
    margin: 0;
    padding: 0 10px 0 10px;
    margin-top: 22px;
}

.hero__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.hero__image-wrapper {
    position: relative;
    // padding-top: 500px;
    padding-bottom: 400px;
}

.hero__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    background: transparent;
    // background:
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero__image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 335px;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%);
}
