.container {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $mobile) {
        width: 480px;
    }

    @media screen and (min-width: $tablet) {
        width: 768px;
    }

    @media screen and (min-width: $desktop) {
        width: 1280px;
    }
}
