.btn {
    display: inline-block;
    padding: 21px 39px;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: $primary-txt-cl;

    border: none;
    border-radius: 12px;
    background-color: $accent-cl;
    outline: none;

    @include transition-base(background-color, color);

    &--transparent {
        background-color: transparent;
        border: 1px solid $primary-txt-cl;
    }

    &:hover,
    &:focus {
        background-color: $primary-white-color;
        color: $accent-cl;
        outline: none;
    }

    &--transparent:hover {
        color: $dark-txt-cl;
    }

    @media screen and (max-width: $mobile) {
        padding: 10px 20px;
        font-size: 8px;
    }

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        padding: 15px 25px;
        font-size: 10px;
    }
}
