//font
$main-font: "Montserrat", sans-serif;
//  accent
$accent-cl: #eb601d;
//  text
$primary-txt-cl: #ffffff;
$secondary-txt-cl: #c1c1c1;
$dark-txt-cl: #000;
//  bground
$bgc: #202020;

// white
$primary-white-color: #ffffff;
