$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
//  acent
$accent-cl: #ff6c00;
//  dark theme
$primary-txt-cl: #ffffff;
$secondary-txt-cl: #9da4bd;
//  light theme
$primary-light-txt-cl: #303030;
$secondary-light-txt-cl: #555555;
//  bground
$bgc: #f7f7f7;

$primary-white-color: #ffffff;
